<%- include('../layout/header')  %> 

    <main>
     <div class="book-results">
      <h2>Search Results</h2>
      <%books.map(data=>{%>
        <div class="book-grid">
          <ul>
            <li> <img class="book-img" src="<%=data.image_url%>" /> </li>
            <li class="book-title"><%= data.title%></li>
             <li class="book-author"><%= data.authors%></li>
            
               <li class="book-description"><%= data.description %></li>  
               <li class="book-description">
                 <form action="/SaveToDataBase" method="POST">
                
               <input type="hidden" name="img" value="<%=data.image_url%>">
               <input type="hidden" name="title" value="<%= data.title%>">
               <input type="hidden" name="description" value="<%= data.description %>">
               <input type="hidden" name="isbn" value="<%=data.isbn%>">
               <input type="hidden" name="auther" value="<%= data.authors%>">
               <input class="button" type="submit" value="Add To DataBase">
                  
                 </form>
                 
                 </li>
                
           </ul>
          
        </div>
        <% });%>
    </div>
  </main>
</body>
</html>