<%- include('../layout/header')  %> 

    <main>
     <div class="book-results">
       <h2>Search Results</h2>

         <div class="book-grid">
           <ul>
             <li> <img class="book-img" src="<%=data.img%>" /> </li>
             <li class="book-title"><%= data.title%></li>
             <li class="book-author"><%= data.authors%></li>

               <li class="book-description"><%= data.description %></li>  
               <li class="book-description"><%= data.isbn %></li>  


           </ul>

         </div>

     </div>
   </main>
 </body>
 </html>